<h1>Edit Blog: <%= @blog.get(:title) %></h1>
<form action='/blogs/update' method='post'>
  <%= hidden_field_tag :id, @blog.get(:id) %>
  <span>
    <label for='name'>Description:</label>
    <textarea name='description' cols='60' rows='4'><%= @blog.get(:description)%></textarea>
  </span>
  <br/>
  <input type='submit' value='Update'/>
</form>

<h2> Posts: </h2>
<div id='user_posts'>
 <table>
    <thead><th>name</th><th>content</th><th>created</th><th>actions</th></thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td>
        <%= post.get(:title) %>
      </td>
        <td>
        <%= post.get(:content)[0..200] %>...
      </td>
      <td>
        <%= post.get(:created_at) %>
      </td>
      <td>
        <span><%= link_to 'edit', :controller => 'posts', :action => 'edit', :id => post.get(:id), :blog_id => @blog.get(:id) %></span>
        <span><%= link_to 'delete', {:controller => 'posts', :action => 'destroy', :id => post.get(:id) , :blog_id => @blog.get(:id)}, :confirm => 'Are you sure?' %></span>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
