<% @blogs.each do |blog| %>
  <div class='blog-posts'>
    <h1><%= link_to blog.get(:title), :controller => 'blogs', :action => 'show', :id => blog.get(:id) %> </h1>
    <% blog.relation(:posts).each do |post| %>
      <div class='post'>
        <div class='post-header'>
          <h2><%= post.get(:title) %></h2>
          <span class='post-date'>
            Edited by <%= blog.relation(:user).get(:login) %> at <%= post.get(:created_at) %>
          </span>
        </div>
        <div class='post-body'>
          <div class='post-content'>
            <%= truncate(post.get(:content), :length => 200) %>
            <%= link_to 'more', :controller => 'posts', :action => 'show', :id => post.get(:id), :blog_id => blog.get(:id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
