<%= render :partial => 'shared/notifications' %>


<h1><%= @blog.get(:title) %> </h1>

<div class='blog-posts'>
<% @posts.each do |post| %>
<div class='post'>
  <div class='post-header'>
    <h2><%= post.get(:title) %>:</h2>

    <span class='post-date'>
      Edited by <%= @user.get(:login) %> at <%= post.get(:created_at) %>
    </span>
  </div>

  <div class='post-body'>
    <div class='post-content'>
      <%= post.get(:content)[0..200] %>...
      <%= link_to 'more', :controller => 'posts', :action => 'show', :id => post.get(:id), :blog_id => @blog.get(:id) %>
    </div>
  </div>
</div>
<% end %>
</div>
