<div id='user_blogs'>
  <h2> Blogs </h2>
  <table>
    <thead><th>name</th><th>description</th><th>created</th><th>actions</th></thead>
    <tbody>
      <% @blogs.each do |blog| %>
      <tr>
        <td>
        <%= blog.get(:title) %>
      </td>
        <td>
        <%= truncate(blog.get(:description), :length => 20) %>
      </td>
      <td>
        <%= blog.get(:created_at) %>
      </td>
      <td>
        <span><%= link_to 'show', :controller => 'blogs', :action => 'show', :id => blog.get(:id)%></span>
        <span><%= link_to 'edit', :controller => 'blogs', :action => 'edit', :id => blog.get(:id)%></span>
        <span><%= link_to 'delete', {:controller => 'blogs', :action =>  'destroy', :id => blog.get(:id)}, :confirm => 'Are you sure?' %></span>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
