<%= render :partial => 'shared/notifications' %>

<div id='user_options'>
  <ul>
    <li> <%= link_to 'new blog', :controller => 'blogs', :action => 'new' %> </li>
  </ul>
</div>

<div id='user_blogs'>
  <h2> Blogs </h2>
  <table>
    <thead><th>name</th><th>description</th><th>created</th><th>actions</th></thead>
    <tbody>
      <% @blogs.each do |blog| %>
      <tr>
        <td>
        <%= blog.get(:title) %>
      </td>
        <td>
        <%= blog.get(:description)[0..200] %> ...
      </td>
      <td>
        <%= blog.get(:created_at) %>
      </td>
      <td>
        <span><%= link_to 'edit', :controller => 'blogs', :action => 'edit', :id => blog.get(:id)%></span>
        <span><%= link_to 'delete', :controller => 'blogs', :action =>  'destroy', :id => blog.get(:id)%></span>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
