<%= render :partial => 'shared/notifications' %>


<h1><%= link_to @blog.get(:title), :controller => 'blogs', :action => 'show', :id => @blog.get(:id) %> </h1>

<div class='post'>
  <div class='post-header'>
    <h2><%= @post.get(:title) %></h2>

    <span class='post-date'>
      Edited by <%= @user.get(:login) %> at <%= @post.get(:created_at) %>
    </span>
  </div>
  <div class='post-body'>
    <div class='post-content'>
      <%= @post.get(:content) %>
    </div>
  </div>
  <div class='post-comments'>
    Comments so far...
    <% @comments.each do |comment| %>
      <div class='comment'>
        <span class='comment-author'>
          <b><%= comment.get(:user_name )%></b> said at <%= comment.get(:created_at) %>:
        </span>
        <span class='comment-body'>
          <%= comment.get(:content) %>
        </span>
      </div>
    <% end %>
  </div>
  <br />
  <div class='new-comment'>
    <form action="/blogs/<%= @blog.get(:id) %>/posts/<%= @post.get(:id) %>/comments/create" action="post">
      <label for='content'>
        Drop a comment:
       </label>
      <textarea name='content' cols='60' rows='4'> </textarea>
      <br />
      <input type="submit" value='create'></input>
    </form>
  </div>

</div>
