<%= render :partial => 'shared/notifications' %>


<h1><%= link_to @blog.get(:title), :controller => 'blogs', :action => 'show', :id => @blog.get(:id) %> </h1>

<div class='post'>
  <div class='post-header'>
    <h2><%= @post.get(:title) %>:</h2>

    <span class='post-date'>
      Edited by <%= @user.get(:login) %> at <%= @post.get(:created_at) %>
    </span>
  </div>
  <br/>
  <div class='post-body'>
    <div class='post-content'>
      <%= @post.get(:content) %>
    </div>
  </div>
  <div class='post-comments'>
    <% @comments.each do |comment| %>
      <div class='comment'>
        <span class='comment-author'>
          <%= comment.user_name %> said at <%=  comment.created_at %>
        </span>
        <span class='comment-body'>
          <%= comment.content %>
        </span>
      </div>
    <% end %>
  </div>
</div>
